.bio-box {
    padding: 40px 80px;
}

@media (max-width: 825px) {
    .bio-box {
        padding: 40px 50px;
    }
}
@media (max-width: 530px) {
    .bio-box {
        padding: 10px;
    }
}

.bio-box .text-box {
    display: flex;
    align-items: center;
    padding: 0;
}

@media (max-width: 683px) {
    .bio-box .text-box {
        flex-direction: column;
    }

    .bio-box .text-box h4 {
        width: 100% !important;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 0 !important;
    }
}

.bio-box .text-box h4 {
    width: 60%;
    font-size: 25px;
    color: #333;
    text-align: center;
    margin-left: 100px;
    line-height: 40px;
}

@media (max-width: 1200px) {
    .bio-box .text-box h4 {
        margin-left: 50px;
        line-height: 30px;
    }
}

.bio-box .text-box img {
    width: 300px;
}

@media (max-width: 825px) {
    .bio-box .text-box img {
        width: 240px;
    }

    .bio-box .text-box h4 {
        font-size: 20px;
    }
}

.bio-box p {
    margin-bottom: 40px;
    color: #444;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-top: 20px;
}
@media (max-width: 470px) {
    .bio-box p{
        font-size: 12px;
        line-height: 16px;
    }
}